@font-face {
    font-family: 'pixel';
    src: url('../font/pixel-webfont.woff2') format('woff2'),
        url('../font/pixel-webfont.woff') format('woff'),
        url('../font/pixel-webfont.ttf') format('truetype'),
        url('../font/pixel.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: black;
}

canvas{
    margin: auto;
    display: flex;
    z-index: 0;
}

#highscore{
    padding: 500px;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    font-family: pixel;
    color: white;
    display: none;
}

#name{

}