@font-face {
    font-family: 'pixel';
    src: url('../font/pixel-webfont.woff2') format('woff2'),
        url('../font/pixel-webfont.woff') format('woff'),
        url('../font/pixel-webfont.ttf') format('truetype'),
        url('../font/pixel.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: black;
}

canvas{
    margin: auto;
    display: flex;
    z-index: 0;
}

#highscore-container, #highscore,
#highscore-container div table {
    display: none;
    font-family: pixel;
    color: white;
}

#highscore-container {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    height: 600px;
    z-index: 2;
    background-image: url("../img/highscore.png");
    background-size: contain;
}

#highscore-container table{
    position: absolute;
    width: 1000px;
    height: auto;
    left: 50%;
    margin-left: -500px;
}
#highscore-container div{
    margin: auto;
    width: 1000px;
}
